{% set mediatomb = salt['grains.filter_by']({
    'Debian': {
        'packages': ['mediatomb'],
        'config_file': '/etc/mediatomb/config.xml',
    },
    'RedHat': { 
        'packages': ['mediatomb'],
        'config_file': '/etc/mediatomb/config.xml',
    },
}, grain='os_family', merge=salt['pillar.get']('mediatomb:lookup'), default='Debian') %}
